@using ÜNY.Application.DTOs
@model ÜNY.Application.DTOs.ExamDTO
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container mt-4">
    <h2>Sınav Ekle</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            <p>@TempData["ErrorMessage"]</p>
        </div>
    }
    else if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }

    <form method="post" asp-action="Add" asp-controller="Exam">
        <div class="mb-3">
            <label for="ExamName" class="form-label">Sınav Adı</label>
            <input type="text" class="form-control" id="ExamName" name="ExamName" value="@Model.ExamName" required />
        </div>

        <div class="mb-3">
            <label for="ExamDate" class="form-label">Tarih</label>
            <input type="date" class="form-control" id="ExamDate" name="ExamDate" value="@Model.ExamDate.ToString("yyyy-MM-dd")" required />
        </div>

        <div class="mb-3">
            
            <label for="CourseId" class="form-label">Ders Seçimi</label>
            <select id="CourseId" name="CourseId" class="form-select" required>
                <option value="">Bir Ders Seçin</option>
                @foreach (var course in ViewBag.Courses as List<CoursesDTO>)
                {
                    <option value="@course.Id">@course.CourseName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Sınav Ekle</button>
    </form>

    <div class="mt-4">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Ana Sayfaya Dön</a>
    </div>
</div>

